#feed-card {
  .feed-header {
    width: 100%;
    padding: 12px 40px 0 16px;
    .feed-ddown {
      position: absolute;
      right: 10px;
      top: 11px;
      fill: $light-grey;
      opacity: 0.7;

      .icon-menu {
        width: 24px;
        height: 24px;
      }
    }

    .usr-info {
      .usr-name {
        &:hover {
          color: $primary !important;
        }
      }
    }
  }
  .feed-body {
    .likes-comments {
      height: 38px;
      display: flex;
      align-items: center;
    }
    .see-more {
      position: absolute;
      bottom: -14px;
      right: 0;
      cursor: pointer;
      &:hover {
        color: $primary !important;
        text-decoration: underline;
      }
    }
    .feed-img {
      margin-left: -24px;
      margin-right: -24px;
    }
  }
  .feed-footer {
    height: 40px;
    border-top: 1px solid $super-light-grey;
    & > div {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
}