#header {
  background-color: $dark-blue;
  height: 52px;
  .row {
    width: 100%;
    #logo {
      background: $primary;
      padding: 3px;
      border-radius: $base-border-radius;
      margin-right: 12px;
      max-width: 34px;
      max-height: 34px;
      .logo-linkedin {
        width: 28px;
        height: 28px;
      }
    }
    .c-search-bar {
      max-width: 406px;
      position: relative;
      @media (min-width: 992px) { 
        min-width: 406px;
      }
      .search-bar {
        position: relative;
        min-width: 100px;
        max-width: 280px;
        .left-icon-search {
          position: absolute;
          left: 8px;
          top: 5px;
          z-index: 2;
        }
        .input-group {
          border: 1px solid transparent;
          border-radius: $base-border-radius;
        }
        input {
          border: none;
          border-radius: $base-border-radius;
          padding: 0 8px 0 28px;
          background-color: $secondary;
          &:focus,:active {
            outline: none;
            box-shadow: none;
          }
        }
        .btn-search {
          display: none;
          padding: 4px 8px;
          border-radius: $base-border-radius;
          background-color: $secondary;
          .icon-search {
            width: 22px;
            height: 22px;
            fill: $primary;
            opacity: 0;
          }
        }
        &.active {
          .input-group {
            border-color: $primary;
            .left-icon-search {
              display: none;
            }
            input {
              background-color: #fff;
              padding: 0 8px;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
            .btn-search {
              display: inline-block;
              background-color: #e1e9ee;
              .icon-search {
                opacity: 1;
              }
            }
          }
        }
      }
      .search-results {
        position: absolute;
        top: 40px;
        left: 0;
        background-color: #fff;
        width: 780px;
        max-height: 300px;
        overflow: auto;
        z-index: 1020;
        border-bottom-left-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
        box-shadow: $box-shadow;
        
        .search-category {
          .cat {
            height: 46px;
            display: flex;
            align-items: center;
            &:hover {
              background-color: $secondary-light;
            }
  
            svg {
              width: 22px;
              height: 22px;
              color: $primary;
            }
          }
        }

        .search-recent {
          border-top: 1px solid rgba(0,0,0,.2);
          .recent-peoples {
            .each-people {
              height: 54px;
              display: flex;
              align-items: center;
              &:hover {
                background-color: $secondary-light;
              }
            }
          }
        }

      }
    }
    .nav-items {
      padding-top: 2px;
      min-width: 658px;
      .nav-link, .nav-icon {
        color: $nav-items;
      }
      .nav-item {
        min-width: 80px;
        &:hover {
          .nav-link, .nav-icon {
            color: #fff;
          }
        }
        &.me {
          position: relative;
          &::after {
            content: '';
            position: absolute;
            border-right: 1px solid #c7d1d8;
            top: -7px;
            bottom: -4px;
            opacity: .3;
            right: 0;
          }
        }
        &.spotlight {
          max-width: 80px;
          text-align: center;
        }
        .icon-dropdown {
          width: 24px;
          height: 24px;
          max-height: 18px;
          margin-left: -3px;
        }
      }
      .nav-link {
        padding: 0;
        margin-bottom: -1px;
      }
      .nav-icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}