#user-thumbnail {
  align-items: center;
  .usr-info {
    margin-left: 12px;
    .usr-name {
      &:hover {
        color: $primary !important;
      }
    }
  }
}

// This Rules apply only on AddToFeed components
#add-to-feed {  
  .usr-info {
    max-width: 152.5px;
  }
}