@import './bootstrap';
@import './variables';
@import './typography';
@import './components/components.scss';

body {
  background-color: $bg-layout;
}

.with-header {
  padding-top: $header-height + 46;
  margin-bottom: 24px;
}

.w-radius {
  border-radius: $base-border-radius;
}
.t-radius {
  border-top-right-radius: $base-border-radius;
  border-top-left-radius: $base-border-radius;
}

.b-radius {
  border-bottom-right-radius: $base-border-radius;
  border-bottom-left-radius: $base-border-radius;
}

// Card Style
.card-base {
  background: #fff;
  box-shadow: $box-shadow;
  border-radius: $base-border-radius;
  .with-padding {
    padding: 12px;
  }
}

// Divider
.divider {
  height: 1px;
  background-color: $black;
  opacity: .2;
  margin: 20px 0;
}

